# Import Libraries needed by this notebook

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

# Series Object

In [8]:
A = pd.Series([2,5,7,9,11], index=["a", "b","c","d","e"])
print(type(A))
print(A)
print(type(A.values))
print(A.values)
print(type(A.index))
print(A.index)
print(A["a"])
print(A["a":"c"])

<class 'pandas.core.series.Series'>
a     2
b     5
c     7
d     9
e    11
dtype: int64
<class 'numpy.ndarray'>
[ 2  5  7  9 11]
<class 'pandas.core.indexes.base.Index'>
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
2
a    2
b    5
c    7
dtype: int64

# Series from Dictionary


*   One Dimensional

In [12]:
grades_dic = { "A": 4, "A-": 3.5, "B": 3, "B-": 2.5, "C": 2}
marks_dic = { "A": 85, "A-": 80, "B": 75, "B-": 70, "C": 65}

grades_series = pd.Series(grades_dic)
marks_series = pd.Series(marks_dic)

print(grades_series)
print(marks_series)

A     4.0
A-    3.5
B     3.0
B-    2.5
C     2.0
dtype: float64
A     85
A-    80
B     75
B-    70
C     65
dtype: int64

# Dataframe


*   It is the core data structure in pandas and is used to work with tabular (row–column) data—like spreadsheets or database tables.
*   A DataFrame is a two-dimensional, labeled data structure with:
    - Rows (index)
    - Columns (labels)
    - Potentially different data types per column

In [11]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Chicago", "San Francisco"]
}

df = pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30        Chicago
2  Charlie   35  San Francisco

### Add a new column

In [ ]:
D = pd.DataFrame({"Marks": marks_series, "Graded": grades_series})

print(D)

D['Scaled Marks'] = D["Marks"] / 90

print(D)

### Applying Masking / Filter

In [16]:
G = D[D["Marks"] > 70]
G

    Marks  Graded  Scaled Marks
A      85     4.0      0.944444
A-     80     3.5      0.888889
B      75     3.0      0.833333