# Import Libraries needed by this notebook

In [ ]:
import numpy as np
import pandas as pd
import datetime as dt

In [ ]:
pd.__version__

# Series Object


*   A pandas Series is a one-dimensional labelled array.
*   A Series combines the best features of a list and a dictionary.
*   A Series maintains a single collection of ordered values (i.e. a single column of data).
*   We can assign each value an identifier, which does not have to be unique.

In [ ]:
A = pd.Series([2,5,7,9,11], index=["a", "b","c","d","e"])
print(type(A))
print(A)
print(type(A.values))
print(A.values)
print(type(A.index))
print(A.index)
print(A["a"])
print(A["a":"c"])

# Create Series Object from Dictionary


*   The keys becomes identifiers and value becomes the items of the list.

In [ ]:
grades_dic = { "A": 4, "A-": 3.5, "B": 3, "B-": 2.5, "C": 2}
marks_dic = { "A": 85, "A-": 80, "B": 75, "B-": 70, "C": 65}

grades_series = pd.Series(grades_dic)
marks_series = pd.Series(marks_dic)

print(grades_series)
print(marks_series)

# Intro to Series Methods



*   Sum
*   Product
*   Mean
*   std - Standard Deviation

> Standard deviation is a measure of how spread out values are in a dataset.
> *   Low standard deviation → values are close to the average
> *   High standard deviation → values are widely spread out

> Think of Standard deviation as the “typical distance” of data points from the mean.

> #### Formal definition
Standard deviation is the square root of the variance.

> #### Why use it?
> *   Understand variability in data
> *   Compare consistency (e.g., test scores, sales, sensor readings)
> *   Core to statistics, machine learning, and data analysis


> #### Rule of thumb (normal distribution)
> *   ~68% of values lie within ±1 std dev of the mean
> *   ~95% within ±2 std dev
> *   ~99.7% within ±3 std dev

In [ ]:
prices = pd.Series([2.99, 4.45, 1.36])

print("-------The Series-------")
print(prices)

print("-------The sum-------")
print(prices.sum())

print("-------The product-------")
print(prices.product())

print("-------The Means-------")
print(prices.mean())

print("-------The Standard Deviation-------")
print(prices.std())

# Intro to Attributes

*   An attribute is a piece of data that lives on an object.
*   An attribute is a fact, a detail, a characteristic of the object.
*   Access an attribute with object.attribute syntax.

In [ ]:
adjectives = pd.Series(["Smart","Handsome", "Charming", "Brilliant", "Humble", "Smart"])
print(f"No Duplication: {adjectives.is_unique}")
print(f"Values: {adjectives.values}")
print(f"Index: {adjectives.index}")

# Import Series with the pd.read_csv Function

*   Pandas ships with many different read_ functions for different types of files.
*   The read_csv function accepts many different parameters. The first one specifies the file name/path.
*   The read_csv function will import the dataset as a DataFrame, a 2-dimensional table.
*   The usecols parameter accepts a list of the column(s) to import.
*   The squeeze method converts a DataFrame to a Series.

In [ ]:
pokeman_data = pd.read_csv("/content/sample_data/pokemon.csv")
print(type(pokeman_data))
print(pokeman_data)
print("------------------------------")
pokeman_data = pd.read_csv("/content/sample_data/pokemon.csv", usecols=["Pokemon"])
print(type(pokeman_data))
print(pokeman_data)
print("------------Squeeze only works if dataframe has one column------------------")
pokeman_data = pd.read_csv("/content/sample_data/pokemon.csv", usecols=["Pokemon"]).squeeze('columns')
print(type(pokeman_data))
print(pokeman_data)

In [ ]:
google_data = pd.read_csv("/content/sample_data/google_stock_price.csv")
print(type(google_data))
print(google_data)
print("------------------------------")
google_data = pd.read_csv("/content/sample_data/google_stock_price.csv", usecols=["Stock Price"])
print(type(google_data))
print(google_data)
print("------------Squeeze only works if dataframe has one column------------------")
google_data = pd.read_csv("/content/sample_data/google_stock_price.csv", usecols=["Stock Price"]).squeeze('columns')
print(type(google_data))
print(google_data)
print("------------Head and tail------------------")
google_data = pd.read_csv("/content/sample_data/google_stock_price.csv", usecols=["Stock Price"]).squeeze('columns')
print(google_data.head(6))
print(google_data.tail(6))

# Passing Series to Python's Built-In Functions



*   The len function returns the length of the Series.
*   The type function returns the type of an object.
*   The list function converts the Series to a list.
*   The dict function converts the Series to a dictionary.
*   The sorted function converts the Series to a sorted list.
*   The max function returns the largest value in the Series.
*   The min function returns the smallest value in the Series.

In [ ]:
len(pokeman_data)
type(google_data)
list(pokeman_data)
dict(pokeman_data)
sorted(google_data)
max(pokeman_data)
min(pokeman_data)

# Read CSV and mark certain column as an Index column And sort by values/index

In [ ]:
pokeman_data = pd.read_csv("/content/sample_data/pokemon.csv", index_col=["Pokemon"]).squeeze('columns')
print(type(pokeman_data))
print(pokeman_data)
print("----------------Sort By Values--------------")
print(pokeman_data.sort_values())
print("----------------Sprt by Index--------------")
print(pokeman_data.sort_index())

# Extract Series Value by Index Position



*   Use the iloc accessor to extract a Series value by its index position.
*   iloc is short for "index location".
*   Python's list slicing syntaxes (slices, slices from start, slices to end, etc.) are supported with Series objects.

In [ ]:
pokeman_data = pd.read_csv("/content/sample_data/pokemon.csv").squeeze('columns')
print(pokeman_data.iloc[[0,3,7]])
print("------------------------------")
print(pokeman_data.iloc[100])
print("------------------------------")
print(pokeman_data.iloc[0:5])
print("--------------From start till index 4----------------")
print(pokeman_data.iloc[:5])
print("--------------From 715 till end----------------")
print(pokeman_data.iloc[715:])
print("--------------Pull last value in series----------------")
print(pokeman_data.iloc[-1])
print("--------------Pull last five in series----------------")
print(pokeman_data.iloc[-5:-1])
print("--------------Pull last five in series----------------")
print(pokeman_data.iloc[-5:])

# Extract Series Value by Index Label



*   Use the loc accessor to extract a Series value by its index label.
*   Pass a list to extract multiple values by index label.
*   If one index label/position in the list does not exist, Pandas will raise an error.

In [ ]:
pokemon_data = pd.read_csv("/content/sample_data/pokemon.csv", index_col=["Pokemon"]).squeeze('columns')
print(pokemon_data.loc["Venusaur"])
print("------------------------------")
print(pokemon_data.loc[["Venusaur", "Charmander", "Yveltal"]])
print("------------------------------")
print(pokemon_data.loc["Bulbasaur":"Charmeleon"])

# The get Method on a Series


*   The get method extracts a Series value by index label. It is an alternative option to square brackets.
*   The get method's second argument sets the fallback value to return if the label/position does not exist.

In [ ]:
pokemon_data = pd.read_csv("/content/sample_data/pokemon.csv", index_col=["Pokemon"]).squeeze('columns')
print(pokemon_data.get("Venusaur"))
print("------------------------------")
print(pokemon_data.get("Venusaur1","missed"))
print("------------------------------")
print(pokemon_data.get("Venusaur","missed"))
print("------------------------------")
print(pokemon_data.get(["Bulbasaur1","Charmeleon1"], "missed"))
None

# Overwrite a Series Value


*   Use the loc/iloc accessor to target an index label/position, then use an equal sign to provide a new value.

In [ ]:
pokemon_data = pd.read_csv("/content/sample_data/pokemon.csv", index_col=["Pokemon"]).squeeze('columns')
print(pokemon_data.loc["Venusaur"])
print("------------------------------")
pokemon_data.loc["Venusaur"] = "Electric"
print("------------------------------")
print(pokemon_data.loc["Venusaur"])

# The copy Method


*   A copy is a duplicate/replica of an object.
*   Changes to a copy do not modify the original object.
*   A view is a different way of looking at the same data.
*   Changes to a view do modify the original object.
*   The copy method creates a copy of a pandas object.

In [ ]:
pokemon_dataset = pd.read_csv("/content/sample_data/pokemon.csv", index_col=["Pokemon"])
pokemon_series = pokemon_dataset.squeeze('columns').copy()
# Is series a view Or copy. This is a copy if you have used copy method.
pokemon_series.loc["Bulbasaur"] = "Fire"
print(pokemon_series)
print(pokemon_dataset)

# Math Methods on Series Objects


*   The count method returns the number of values in the Series. It excludes missing values; the size attribute includes missing values.
*   The sum method adds together the Series's values.
*   The product method multiplies together the Series's values.
*   The mean method calculates the average of the Series's values.
*   The std method calculates the standard deviation of the Series's values.
*   The max method returns the largest value in the Series.
*   The min method returns the smallest value in the Series.
*   The median method returns the median of the Series (the value in the middle).
*   The mode method returns the mode of the Series (the most frequent alue).
*   The describe method returns a summary with various mathematical calculations.

In [ ]:
google_data = pd.read_csv("/content/sample_data/google_stock_price.csv", usecols=["Stock Price"]).squeeze("columns")
print("-------------Type-----------------")
print(type(google_data))
print("-------------Count-----------------")
print(google_data.count())
print("-------------Size-----------------")
print(google_data.size)
print("-------------Product-----------------")
print(google_data.product())
print("-------------Mean-----------------")
print(google_data.mean())
print("-------------Standard Deviation-----------------")
print(google_data.std())

# Broadcasting



*   Broadcasting describes the process ef applying an aritametic operation to an array (i.e, a Series).
*   We can combine mathematical operators with a Series to apply the mathematical operation to every value.
*   There are also methods to accomplish the same resuts (add, sub, mul, div, etc)

In [ ]:
google_data = pd.read_csv("/content/sample_data/google_stock_price.csv", usecols=["Stock Price"]).squeeze("columns")
print("-------------Before Broadcasting : add 10-----------------")
print(google_data)
print("-------------After Broadcasting : add 10-----------------")
google_data_after_broadcasting = google_data.add(10) # google_data + 10
print(google_data_after_broadcasting)

# The value_counts Method


*   The value_counts method returns the number of times each unique value occurs in the Series.
*   The normalize parameter returns the relative frequencies/percentages of the values instead of the counts.

In [ ]:
pokeman_data = pd.read_csv("/content/sample_data/pokemon.csv", index_col=["Pokemon"]).squeeze('columns')
print(pokeman_data.value_counts())
print(pokeman_data.value_counts(normalize=True))

# The apply Method


*   The apply method accepts a function. It invokes that function on every Series value.

In [ ]:
pokeman_data = pd.read_csv("/content/sample_data/pokemon.csv", index_col=["Pokemon"]).squeeze('columns')
print(pokeman_data.apply(len))

# The map Method



*   The map method "maps" or connects each Series values to another value.

*   We can pass the method a dictionary or a Series. Both types connects keys to values.
*   The map method uses our argument to connect or bridge together the values.

# Dataframe

*   A DataFrame is a 2-dimensional table consisting of rows and columns.
*   Pandas uses a NaN designation for cells that have a missing value. It is short for "not a number". Most operations on NaN values will produce NaN values.
*   Like with a Series, Pandas assigns an index position/label to each DataFrame row.
*   The hasnans attribute exists only a Series. The columns attribute exists only on a DataFrame.
*   Some methods/attributes will return different types of data.
*   The info method returns a summary of the pandas object.

In [ ]:
nba_data = pd.read_csv("/content/sample_data/nba.csv")
print(nba_data)

# Differences between Shared Methods


*   The sum method adds a Series's values.
*   On a DataFrame, the sum method defaults to adding the values by traversing the index (row values).
*   The axis parameter customizes the direction that we add across. Pass "columns" or 1 to add "across" the columns.

In [ ]:
revenue_data = pd.read_csv("/content/sample_data/revenue.csv", index_col="Date")
print(revenue_data.sum(axis="index"))
print("----------------------------")
print(revenue_data.sum(axis="columns"))
print("--------------Sum of everything--------------")
print(revenue_data.sum(axis="columns").sum())

# Select One Column from a DataFrame


*   We can use attribute syntax (df. column_name ) to select a column from a DataFrame. The syntax will not work if the column name has spaces.
*   We can also use square bracket syntax ( df ["column name"] ) which will work for any column name.
*   Pandas extracts a column from a DataFrame as a Series.
*   The Series is a view, so changes to the Series will affect the DataFrame.
*   Pandas will display a warning if you mutate the Series. Use the copy method to create a duplicate.

In [ ]:
nba_data = pd.read_csv("/content/sample_data/nba.csv")
print(nba_data.head())
print("----------------------------")
print(nba_data.Name)
print("----------------------------")
print(nba_data["Name"])
print("----------------------------")
print(nba_data["Name"].copy())
print("----------------------------")
print(nba_data.Team)
print("----------------------------")
print(nba_data["Team"])
print("----------------------------")
print(nba_data["Team"].copy())

# Select Multiple Columns from a DataFrame

*   Use square brackets with a list of names to extract multiple DataFrame columns.List item
*   Pandas stores the result in a new DataFrame (a copy).

In [ ]:
nba_data = pd.read_csv("/content/sample_data/nba.csv")
print("----------------------------")
print(nba_data[["Name","Team"]])

# Add New Column to DataFrame


*   Use square bracket extraction syntax with an equal sign to add a new Series to a DataFrame.
*   The insert method allows us to insert an element at a specific column index.
*   On the right-hand side, we can reference an existing DataFrame column and perform a broadcasting operation on it to create the new Series.

In [ ]:
nba_data = pd.read_csv("/content/sample_data/nba.csv")
print(nba_data.head())
print("----------------------------")
nba_data["Sports"] = "Basketball"
print(nba_data.head())
print("----------------------------")
nba_data.insert(loc=3, column="Sports-2", value="Cricket")
print(nba_data.head())
print("----------------------------")
nba_data["Salary Doubled"] = nba_data["Salary"] * 2
print(nba_data.head())

# A Review of the value_counts Method

*   The value_counts method counts the number of times that each unique value occurs in a Series.

In [ ]:
nba_data = pd.read_csv("/content/sample_data/nba.csv")
print("----------------------------")
print(nba_data["Position"].value_counts())
print("----------------------------")
print(nba_data["Position"].value_counts(normalize=True))
print("----------------------------")
print(nba_data["Position"].value_counts(normalize=True) * 100)

# Drop Rows with Missing Values


*   Pandas uses a NaN designation for cells that have a missing value.
*   The dropna method deletes rows with missing values. Its default behavior is to remove a row if it has any missing values.

*   Pass the how parameter an argument of "all" to delete rows where all the values are NaN.
*   The subset parameters customizes/limits the columns that pandas will use to drop rows with missing values.

In [ ]:
nba_data = pd.read_csv("/content/sample_data/nba.csv")

print(nba_data.dropna())
print("-----------------------------")
print(nba_data.dropna(how="all"))
print("-----------------------------")
print(nba_data.dropna(subset="College"))
print("-----------------------------")
print(nba_data.dropna(subset=["College", "Salary"]))

# Fill in Missing Values with the fillna Method

*   The fillna method replaces missing NaN values with its argument.
*   The fillna method is available on both DataFrames and Series.
*   An extracted Series is a view on the original DataFrame, but the fillna method returns a copy.

In [ ]:
nba_data = pd.read_csv("/content/sample_data/nba.csv")
nba_data = nba_data.fillna(0)
print(nba_data)
print("-----------------------------")
nba_data = pd.read_csv("/content/sample_data/nba.csv")
nba_data = nba_data["College"].fillna(value="Unknown")
print(nba_data)

# The astype Method I


*   The astype method converts a Series's values to a specified type.
*   Pass in the specified type as either a string or the core Python data type.
*   Pandas cannot convert NaN values to numeric types, so we need to eliminate/replace them before we perform the conversion.
*   The dtypes attribute returns a Series with the DataFrame's columns and their types.

In [ ]:
nba_data = pd.read_csv("/content/sample_data/nba.csv")
nba_data.dropna(how="all")
nba_data["Salary"] = nba_data["Salary"].fillna(0)
print(nba_data)
print("-----------------------------")
print(nba_data.dtypes)
print("-----------------------------")
nba_data["Salary"]=nba_data["Salary"].astype(int)
print(nba_data)
print("-----------------------------")
print(nba_data.dtypes)

# The astype Method II


*   The category type is ideal for columns with a limited number of unique values.
*   The nunique method will return a Series with the number of unique values in each column.
*   With categories, pandas does not create a separate value in memory for each "cell". Rather, the cells point to a single copy for each unique value.

In [ ]:
nba_data = pd.read_csv("/content/sample_data/nba.csv")
nba_data.dropna(how="all")
print(nba_data["Team"].unique())
print("-----------------------------")
print(nba_data.info)
print("-----------------------------")
nba_data["Position"] = nba_data["Position"].astype("category")
nba_data["Team"] = nba_data["Team"].astype("category")
print(nba_data.info)

# Sort a DataFrame with the sort_values Method I

*   The sort_values method sorts a DataFrame by the values in one or more columns. The default sort is an ascending one (alphabetical for strings).
*   The first parameter ( by ) expects the column(s) to sort by.
*   If sorting by a single column, pass a string with its name.
*   The ascending parameter customizes the sort order.
*   The na_position parameter customizes where pandas places NaN values.

In [ ]:
nba_data = pd.read_csv("/content/sample_data/nba.csv")
nba_data["Name"].sort_values()
print("---------------------------")
print(nba_data.sort_values(by="Name", ascending=True ))
print("---------------------------")
print(nba_data.sort_values(by="Salary", na_position="first" ))

# Sort a DataFrame with the sort_values Method II


*   To sort by multiple columns, pass the by parameter a list of column names. Pandas will sort in the specified column order (first to last).

*   Pass the ascending parameter a Boolean to sort all columns in a consistent order (all ascending or all descending).
*   Pass ascending a list to customize the sort order per column. The ascending list length must match the by list.

In [ ]:
nba_data = pd.read_csv("/content/sample_data/nba.csv")
nba_data.sort_values(by=["Team", "Name"])
nba_data.sort_values(by=["Team", "Name"], ascending=False)
nba_data.sort_values(by=["Team", "Name"], ascending=[False, True])

# Sort a DataFrame by its Index

*   The sort_index method sorts the DataFrame by its index positions/labels.

In [ ]:
nba_data = pd.read_csv("/content/sample_data/nba.csv")
print(nba_data.sort_values(by=["Team", "Name"]))
print("---------------------------")
print(nba_data.sort_index())
print("---------------------------")
print(nba_data.sort_index(ascending=True))
print("---------------------------")
print(nba_data.sort_index(ascending=False))

# Rank Values with the rank Method


*   The rank method assigns a numeric ranking to each Series value.
*   Pandas will assign the same rank to equal values and create a "gap" in the dataset for the ranks.

In [ ]:
nba_data = pd.read_csv("/content/sample_data/nba.csv").dropna(how="all")
nba_data["Salary"]=nba_data["Salary"].fillna(0).astype(int)
#print(nba_data.sort_values(by=["Team", "Name"]))
nba_data["Salary Rank"] = nba_data["Salary"].rank(ascending=True).astype(int)
nba_data.sort_values("Salary Rank", ascending=True).head(10)

# DataFrames II: Filtering Data

### This Module's Dataset + Memory Optimization

*   The pd.to_datetime method converts a Series to hold datetime values.
*   The format parameter informs pandas of the format that the times are stored in.
*   We pass symbols designating the segments of the string. For example, %m means "month" and %d means day.
*   The dt attribute reveals an object with many datetime-related attributes and methods.
*   The dt.time attribute extracts only the time from each value in a datetime Series.

*   Use the astype method to convert the values in a Series to another type.
*   The parse_dates parameter of read_csv is an alternate way to parse strings as datetimes.

In [ ]:
employees_data = pd.read_csv("/content/sample_data/employees.csv")
print(employees_data.info())
print("-------------------------")
employees_data["Start Date"] = pd.to_datetime(employees_data["Start Date"], format="mixed")
employees_data["Last Login Time"] = pd.to_datetime(employees_data["Last Login Time"], format="mixed").dt.time
employees_data["Senior Management"] = employees_data["Senior Management"].astype(bool)
employees_data["Gender"] = employees_data["Gender"].astype("category")
print(employees_data.info())

# Filter A DataFrame Based On A Condition


*   Pandas needs a Series of Booleans to perform a filter.
*   Pass the Boolean Series inside square brackets after the DataFrame.
*   We can generate a Boolean Series using a wide variety of operations (equality, inequality, less than, greater than, inclusion, etc)

In [ ]:
employees_data = pd.read_csv("/content/sample_data/employees.csv")
print(employees_data[employees_data["Gender"] == "Male"])
print("---------------------")
print(employees_data[employees_data["Team"] == "Finance"])
print("---------------------")
employees_data["Senior Management"] = employees_data["Senior Management"].astype(bool)
print(employees_data[employees_data["Senior Management"]])

# Date time

In [ ]:
dt.time(hour=6, minute=50, second=30)

# Filter with More than One Condition (AND)

*   Add the "&" operator in between two Boolean Series to filter by multiple conditions.
*   We can assign the Series to variables to make the syntax more readable.

# Filter with More than One Condition (OR)

*   Use the | operator in between two Boolean Series to filter by either condition.

# The isin Method

*   The isin Series method accepts a collection object like a list, tuple, or Series.
*   The method returns True for a row if its value is found in the collection.

In [ ]:
employees_data = pd.read_csv("/content/sample_data/employees.csv")
employees_data[employees_data["Team"].isin(["Marketing", "Finance"])]

# The isnull and notnull Methods

*   The isnull method returns True for NaN values in a Series.
*   The notnull method returns True for present values in a Series.

In [ ]:
employees_data = pd.read_csv("/content/sample_data/employees.csv")
print(employees_data[employees_data["Team"].isnull()])
print("---------------------")
print(employees_data[employees_data["Team"].notnull()])

# The between Method


*   The between method returns True if a Series value is found within its range.

In [ ]:
employees_data = pd.read_csv("/content/sample_data/employees.csv")
print(employees_data[employees_data["Salary"].between(60000,61000)])
print("------------------------------")
print(employees_data[employees_data["Bonus %"].between(2.5,2.6)])
print("------------------------------")
employees_data["Start Date"] = pd.to_datetime(employees_data["Start Date"], format="mixed")
print(employees_data[employees_data["Start Date"].between("1998-11-01","1999-01-01")])
print("------------------------------")
employees_data["Last Login Time"] =pd.to_datetime(employees_data["Last Login Time"]).to_timestamp
print(employees_data[employees_data["Last Login Time"].between(dt.time(1,10), dt.time(2,0))])

# The duplicated Method



*   The duplicated method returns True if a Series value is a duplicate.

*   Pandas will mark one occurrence of a repeated value as a non-duplicate.

*   Use the keep parameter to designate whether the first or last occurrence of a repeated value should be considered the "non-duplicate".
*   Pass False to the keep parameter to mark all occurrences of repeated values as duplicates.


*   Use the tilde symbol ( ~ ) to invert a Series's values. Trues will become Falses, and Falses will become trues.

In [ ]:
employees_data = pd.read_csv("/content/sample_data/employees.csv")
print(employees_data[employees_data["First Name"].duplicated()])
print("------------------------------")
print(employees_data[employees_data["First Name"].duplicated(keep="first")])
print("------------------------------")
print(employees_data[employees_data["First Name"].duplicated(keep="last")])
print("------------------------------")
print(employees_data[employees_data["First Name"].duplicated(keep=False)])
print("--------------Invert----------------")
print(employees_data[~employees_data["First Name"].duplicated(keep=False)])

# The drop_duplicates Method


*   The drop_duplicates method deletes rows with duplicate values.
*   By default, it will remove a row if all of its values are shared with another row.
*   The subset parameter configures the columns to look for duplicate values within.
*   Pass a list to subset parameter to look for duplicates across multiple columns.